
.post {
    margin: 1rem 0;
    text-decoration: none;
    color: black;

    h2 {
        margin-bottom: 1rem;
    }

    p {
        color: #777777;
        font-size: medium;
        margin-bottom: 0rem;
    }

    div {
        font-size: medium;
    }
}

.post:hover {
    color: #4CA3DD;
}